h1{
	font-family: 'Lora', serif;
	font-size: 4em;
	letter-spacing: 0.14em;
	margin: 28px;
	text-transform: uppercase;
}
nav{
	text-align: center;
	width: auto;
	padding: 28px;
}

nav ul{
	list-style: none;
	font-size: 13px;
	letter-spacing: 2px;
	text-transform: uppercase; 
}

nav ul li {
	display: inline-block;
	text-align: center;

}

nav ul li a{
	padding: .8em
}
.scrolled{
	background: gray;  
}
.project{
	background: url(images/projects.jpg);
	background-size: cover;
	width: 200px;
  	height: 200px;

}
